{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Record
{% endblock %}


{% block body %}
   <div>
    <div class="student-card">
        <img src="{{ student_data.image.url }}" alt="{{ student_data.name }}">
        <h1>Name- {{ student_data.name }}</h1>
        <h1>Regd No- {{ student_data.regd_no }}</h1>
        <h1>Branch- {{ student_data.branch }}</h1>
        <h1>Email- {{ student_data.email }}</h1>
        <h1>Phone No- {{ student_data.phone_no }}</h1>
        <h1>Attendance- {{ att_data }} %</h1>
        
        
    </div>
<div class="student-card">
    {% for log in att_log %}
        <ul>
            <li>
                <h1>
                    Course Code- {{ log.session.subject.code }} <br>Date- {{ log.session.created_at|date }}<br> Status- {{ log.status }}
                </li>
            </li>
        </ul>
    {% endfor %}
</div>
</div>
{% endblock %}